    <!-- Home Section Starts -->
    <section class="home" id="home">
        <div class="image">
            <img src="../../../assets/images/home.gif" alt="">
        </div>

        <div class="content">
            <h3>stay safe, stay healthy</h3>
            <p>E-Hospital is a state-of-the-art online platform that aims to provide efficient and convenient healthcare services to patients. Our platform offers a wide range of features, including online consultations, appointment scheduling, medical records management, and much more. We prioritize your health and well-being.</p>
            <a href="/login" class="btn">Login<span class="fa-solid fa-hevron-right"><i class="fa-solid fa-chevron-right"></i></span> </a>
            <a href="/register" class="btn">Register<span class="fa-solid fa-hevron-right"><i class="fa-solid fa-chevron-right"></i></span> </a>
        </div>
    </section>

    <!-- Icon Section starts -->
    <section class="icon-container">
        <div class="icons">
            <i class="fas fa-user-md"></i>
            <h3>140+</h3>
            <p>doctors at work</p>
        </div>

        <div class="icons">
            <i class="fas fa-users"></i>
            <h3>1040+</h3>
            <p>satisfied patients</p>
        </div>

        <div class="icons">
            <i class="fas fa-procedures"></i>
            <h3>500+</h3>
            <p>bed facility</p>
        </div>

        <div class="icons">
            <i class="fa-solid fa-hospital"></i>
            <h3>80+</h3>
            <p>available hospitals</p>
        </div>
    </section>
    <!-- Icon Section ends -->

    <!-- Service Section starts -->
    <section class="services" id="services">
        <h1 class="heading">our <span>services</span></h1>

        <div class="box-container">
            <div class="box">
                <i class="fas fa-notes-medical">
                    <h3>free checkups</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                    <a href="#" class="btn"> learn more <span class="fa-solid fa-chevron-right"></span></a>
                </i>
            </div>

            <div class="box">
                <i class="fas fa-ambulance">
                    <h3>24/7 ambulance</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                    <a href="#" class="btn"> learn more <span class="fa-solid fa-chevron-right"></span></a>
                </i>
            </div>

            <div class="box">
                <i class="fas fa-user-md">
                    <h3>expert doctors</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                    <a href="#" class="btn"> learn more <span class="fa-solid fa-chevron-right"></span></a>
                </i>
            </div>

            <div class="box">
                <i class="fas fa-pills">
                    <h3>medicines</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                    <a href="#" class="btn"> learn more <span class="fa-solid fa-chevron-right"></span></a>
                </i>
            </div>

            <div class="box">
                <i class="fas fa-procedures">
                    <h3>bed facility</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique debitis delectus deserunt error rem blanditiis fuga illo impedit veniam! Deleniti odio adipisci id omnis saepe recusandae, quas perferendis dolor minus?</p>
                    <a href="#" class="btn"> learn more <span class="fa-solid fa-chevron-right"></span></a>
                </i>
            </div>

            <div class="box">
                <i class="fas fa-heartbeat">
                    <h3>total care</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique debitis delectus deserunt error rem blanditiis fuga illo impedit veniam! Deleniti odio adipisci id omnis saepe recusandae, quas perferendis dolor minus?</p>
                    <a href="#" class="btn"> learn more <span class="fa-solid fa-chevron-right"></span></a>
                </i>
            </div>
        </div>
    </section>
    <!-- Service Section ends -->

    <!-- About Section Starts -->
    <section class="about" id="about">
        <h1 class="heading"><span>about</span>us</h1>

        <div class="row">
            <div class="image">
                <img src="../../../assets/images/Doctors.gif" alt="" >
            </div>

            <div class="content">
                <h3>we take care of your healthy life</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque iusto deserunt pariatur vero aspernatur? Quis, corrupti a laudantium porro distinctio commodi omnis in quaerat quibusdam ullam nisi atque odit ea?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est omnis eligendi numquam aut reprehenderit perferendis laboriosam. Dicta debitis alias iure.</p>
                <a href="#" class="btn">Learn More<span class="fa-solid fa-chevron-right"></span></a>
            </div>
        </div>
    </section>
    <!-- About Section Ends -->

    <!-- booking section starts -->
    <section class="book" id="book">

        <h1 class="heading"><span>book</span> now</h1>

        <div class="row">

            <div class="image">
                <img src="../../../assets/images/Schedule.gif" alt="">
            </div>

            <form>
                <h3>book appointment</h3>
                <input type="text" placeholder="your name" class="box">
                <input type="number" placeholder="your number" class="box">
                <input type="email" placeholder="your email" class="box">
                <input type="date" class="box">
                <input type="submit" value="book now" class="btn">
            </form>
        </div>
    </section>
    <!-- booking section ends -->

    <!-- review section starts -->
    <section class="review" id="review">

        <h1 class="heading">client's <span>review</span></h1>

        <div class="box-container">

            <div class="box">
                <img src="../../../assets/images/doc-1.jpg" alt="">
                <h3>John doe</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <p class="text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic optio ab veniam architecto autem nisi nihil sint amet quam temporibus, nulla repudiandae, ea saepe culpa asperiores alias a soluta obcaecati.</p>

            </div>

            <div class="box">
                <img src="../../../assets/images/doc-1.jpg" alt="">
                <h3>John doe</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <p class="text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic optio ab veniam architecto autem nisi nihil sint amet quam temporibus, nulla repudiandae, ea saepe culpa asperiores alias a soluta obcaecati.</p>

            </div>

            <div class="box">
                <img src="../../../assets/images/doc-1.jpg" alt="">
                <h3>John doe</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <p class="text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic optio ab veniam architecto autem nisi nihil sint amet quam temporibus, nulla repudiandae, ea saepe culpa asperiores alias a soluta obcaecati.</p>

            </div>
        </div>
    </section>
    <!-- review section ends -->

    <!-- blogs section starts -->
    <section class="blogs" id="blogs">
        <h1 class="heading">our <span>blogs</span></h1>

        <div class="box-container">
            <div class="box">
                <div class="image">
                    <img src="../../../assets/images/blog.jpg" alt="">
                </div>
                <div class="content">
                    <div class="icon">
                        <a href="#"><i class="fas fa-calender">1</i>1st May, 2021</a>
                        <a href="#"><i class="fas fa-user">1</i>by admin</a>
                    </div>
                    <h3>blog title goes here</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, consectetur saepe. Nemo, vero maiores veniam ipsum distinctio dolorem reprehenderit doloremque?</p>
                    <a href="#" class="btn">learn more <span class="fa-solid fa-chevron-right"></span></a>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="../../../assets/images/blog.jpg" alt="">
                </div>
                <div class="content">
                    <div class="icon">
                        <a href="#"><i class="fas fa-calender">1</i>1st May, 2021</a>
                        <a href="#"><i class="fas fa-user">1</i>by admin</a>
                    </div>
                    <h3>blog title goes here</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, consectetur saepe. Nemo, vero maiores veniam ipsum distinctio dolorem reprehenderit doloremque?</p>
                    <a href="#" class="btn">learn more <span class="fa-solid fa-chevron-right"></span></a>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="../../../assets/images/blog.jpg" alt="">
                </div>
                <div class="content">
                    <div class="icon">
                        <a href="#"><i class="fas fa-calender">1</i>1st May, 2021</a>
                        <a href="#"><i class="fas fa-user">1</i>by admin</a>
                    </div>
                    <h3>blog title goes here</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, consectetur saepe. Nemo, vero maiores veniam ipsum distinctio dolorem reprehenderit doloremque?</p>
                    <a href="#" class="btn">learn more <span class="fa-solid fa-chevron-right"></span></a>
                </div>
            </div>
        </div>
    </section>
    <!-- blogs section ends -->

    <!-- footer section starts -->
    <section class="footer">
        <div class="box-container">
            <div class="box">
                <h3>quick links</h3>
                <a href="#"><i class="fa-solid fa-chevron-right"></i>home</a>
                <a href="#"><i class="fa-solid fa-chevron-right"></i>services</a>
                <a href="#"><i class="fa-solid fa-chevron-right"></i>about</a>
                <a href="#"><i class="fa-solid fa-chevron-right"></i>doctors</a>
                <a href="#"><i class="fa-solid fa-chevron-right"></i>book</a>
                <a href="#"><i class="fa-solid fa-chevron-right"></i>review</a>
                <a href="#"><i class="fa-solid fa-chevron-right"></i>blogs</a>
            </div>

            <div class="box">
                <h3>our services</h3>
                <a href="#"><i class="fa-solid fa-chevron-right"></i>dental care</a>
                <a href="#"><i class="fa-solid fa-chevron-right"></i>massage therapy</a>
                <a href="#"><i class="fa-solid fa-chevron-right"></i>cardiology</a>
                <a href="#"><i class="fa-solid fa-chevron-right"></i>diagnosis</a>
                <a href="#"><i class="fa-solid fa-chevron-right"></i>ambulance service</a>
            </div>

            <div class="box">
                <h3>contact info</h3>
                <a href="#"><i class="fas fa-phone"></i>(+977) 984 336 9090</a>
                <a href="#"><i class="fas fa-phone"></i>(+977) 981 881 5281</a>
                <a href="#"><i class="fas fa-envelope"></i>www.nirajpaudel@gmail.com</a>
                <a href="#"><i class="fas fa-map-marker-alt"></i>Kathmandu, Nepal</a>
            </div>

            <div class="box">
                <h3>follow us</h3>
                <div class="icons">
                    <a href="#" class="fab fa-facebook-f"></a>
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-instagram"></a>
                    <a href="#" class="fab fa-linkedin"></a>
                    <a href="#" class="fab fa-pinterest"></a>
                </div>
            </div>
        </div>

        <div class="credit">created by <span>niraj paudel</span> | all right reserved</div>
    </section>
    <!-- footer section ends -->

    <!-- Home Section Ends -->